*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: #eee;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 9px;
}

.div1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.div2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.div3{
    grid-row: 9/10;
    grid-column: 2/3;
}

section{
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: #eee;
    display: grid;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 9px;
}

.pic1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.pic2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.pic3{
    grid-row: 1/2;
    grid-column: 4/5;
}

.pic4{
    grid-row: 2;
    grid-column: 2;
}

.pic5{
    grid-row: 2;
    grid-column: 3;
}

.pic6{
    grid-row: 3;
    grid-column: 1/2;
}

.pic7{
    grid-row: 3;
    grid-column: 3;
}

.pic8{
    grid-row: 3;
    grid-column: 4/5;
}

.pic9{
    grid-row: 4;
    grid-column: 1/2;
}

.pic10{
    grid-row: 4;
    grid-column: 2/3;
}


/* footer{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 183px 183px 183px 183px;
    grid-template-columns: repeat(1, 300px);
    grid-gap: 9px;
}

.image1{
    grid-row: 1/2;
    grid-column: 1/3;
}

.image4{
    grid-row: 2/3;
    grid-column: 1/3;
} */


.under{
    display: grid;
    grid-template-rows: 183px 183px 183px 183px;
    grid-template-columns: repeat(5, 300px);
    grid-gap: 9px;
}

.image2{
    grid-row: 1/2;
    grid-column: 1/2;
}
.image3{
    grid-row: 1/8;
    grid-column: 2/3;
}


.image5{
    grid-row: 2/3;
    grid-column: 1/2;
}

.image6{
    grid-row: 3/4;
    grid-column: 2/3;
}

.column2{
    display: flex;
}

@media (max-device-width: 520px){
    .column{
        display: flex !important;
        flex-direction: column !important;
    }
}
/* @media (max-device-width: 431px){
    .column2{
        display: flex;
        flex-direction: column;
    }
} */
@media (max-device-width: 520px){
    .column1{
        display: grid;
        grid-template-rows: 250px 250px 250px 250px 250px 250px 250px 250px;
        grid-template-columns: repeat(2, 270px);
        grid-gap: 9px;
    }

    .pic1{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .pic8{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .pic2{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .pic3{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .pic4{
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .pic5{
        grid-row: 5/6;
        grid-column: 1/4;
    }

    .pic6{
        grid-row: 6/7;
        grid-column: 1/4;
    }

    .pic7{
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .pic9{
        grid-row: 7/8;
        grid-column: 2/3;
    }

    .pic10{
        grid-row: 8;
        grid-column: 1/4;
    }
}

@media (max-device-width: 520px){
    .column2{
        display: flex;
        flex-direction: column;
    }
}